<script type="text/x-handlebars">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <button type="button" class="btn btn-default btn-lg">{{#link-to "posts"}}Posts{{/link-to}}</button>
      <button type="button" class="btn btn-default btn-lg">{{#link-to "about"}}About{{/link-to}}</button>
    </div>
  </nav>

  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="about" id="about">
  <h3> this is about</h3>
</script>

<script type="text/x-handlebars" data-template-name="posts" id="posts">
  <h3> These are posts</h3>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <table class="table">
          <thead>
            <tr>
              <th>
                Recent posts
              </th>
            </tr>
          </thead>
            {{#each}}
              <tr>
                <td>
                  {{#link-to "post" this}}
                    {{title}} <small class="muted"> by {{author}}</small>
                  {{/link-to}}
                </td>
              </tr>
            {{/each}}
        </table>
        <hr>
        {{#link-to 'new_post'}}create new post{{/link-to}}
      </div>
      <div class="span9">
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="post">
  <h4>{{title}}</h4>
  <h6>by {{author}} <small > {{created_at}}</small> </h6>

  <hr>

  <div class="below-the-fold">
    {{body}}
  </div>

</script>

<script type="text/x-handlebars" data-template-name="new_post">
  author: <p>{{input type="text" value=author}} </p>
  title: <p>{{input type="text" value=title}} </p>
  body: <p>{{textarea value=body}} </p>

  <button  {{action "done"}}>Done</button>
</script>