<script type="text/x-handlebars">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      {{#link-to "posts"}}<button type="button" class="btn btn-default btn-lg">Posts</button>{{/link-to}}
      {{#link-to "about"}}<button type="button" class="btn btn-default btn-lg">About</button>{{/link-to}}
    </div>
  </nav>

  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="about" id="about">
  <h3> this is about</h3>
</script>

<script type="text/x-handlebars" data-template-name="posts" id="posts">
  <h3> These are posts</h3>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <table class="table">
          <thead>
            <tr>
              <th>
                Recent posts
              </th>
            </tr>
          </thead>
          {{#each}}
            <tbody>
              <tr>
                <td>
                  {{#link-to "post" this}}
                    {{title}} <small class="muted"> by {{author}}</small>
                  {{/link-to}}
                  <div class="pull-right">
                    <button {{action 'delete' this.id}} type="button" class="btn btn-danger btn-mini">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          {{/each}}
        </table>
        <hr>
        {{#link-to 'new_post'}}<button type="button" class="btn btn-default btn-large">Create new post</button>{{/link-to}}
      </div>
      <div class="span9">
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="post">

  {{#if isEditing}}
    {{partial 'post/edit'}}
  {{else}}
    <button {{action 'edit'}} type="button" class="btn btn-default btn-lg">Edit</button>
  {{/if}}

  <h4>{{title}}</h4>
  <h6>by {{author}} <small > {{created_at}}</small> </h6>

  <hr>

  <div class="below-the-fold">
    {{body}}
  </div>

</script>

<script type="text/x-handlebars" data-template-name="new_post">
  {{partial "post/edit"}}
</script>

<script type="text/x-handlebars" id="post/_edit">
  author: <p>{{input type="text" value=author}} </p>
  title: <p>{{input type="text" value=title}} </p>
  body: <p>{{textarea value=body}} </p>

  <button {{action "done"}} type="button" class="btn btn-default btn-lg">Done</button>
  <button {{action "cancel"}} type="button" class="btn btn-default btn-lg">Cancel</button>
</script>